/* background-image: url('/src/images/bg-vid.mp4'); */

body {
    margin: 0;
    font-family: 'Gabriola', Georgia, serif;
    font-size: 20px;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #98FB98; /* Pale green background */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    padding: 10px;
    color: #8FBC8F; /* Dark sea green */
  }
  
  h1#head1 {
    text-align: center;
    color: #2E8B57; /* Sea green */
  }
  
  h2 {
    text-align: center;
    color: #2E8B57; /* Sea green */
  }
  
  h3 {
    color: #006400; /* Dark green */
    text-decoration: underline;
  }
  
  h4 {
    color: #006400; /* Dark green */
  }
  
  h5 {
    text-align: center;
    color: #006400; /* Dark green */
  }
  
  h6 {
    text-align: center;
    color: #006400; /* Dark green */
  }
  
  nav#nav1 {
    background-color: #228B22; /* Forest green */
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #00FA9A; /* Medium spring green */
  }
  
  a {
    color: #3CB371; /* Medium sea green */
    text-decoration: none;
    transition: color 0.3s ease;
    text-decoration: underline;
  }
  
  a:hover {
    color: #00FA9A; /* Medium spring green */
  }
  
  .link-style {
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
  }
  
  .link-style.active {
    font-weight: bold;
    color: #00FA9A; /* Medium spring green */
  }
  
  p#spacing {
    padding: 20px;
    color: #000000;
  }
  
  p#foot {
    color: #3CB371; /* Medium sea green */
    text-align: right;
  }
  
  hr {
    color: #00FA9A; /* Medium spring green */
    height: 1.5px;
  }
  
  .download-resume {
    display: inline-block;
    color: white;
    background-color: #228B22; /* Forest green */
    text-decoration: none;
    border: 2px solid #00FA9A; /* Medium spring green */
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    height: 40px;
    width: 150px;
    line-height: 40px;
    font-weight: bold;
    vertical-align: top;
  }
  
  div#float-left {
    float: left;
    width: 30%;
  }
  
  div#float-right {
    float: right;
    width: 30%;
  }
  
  div#float-right2 {
    float: right;
    width: 30%;
  }
  
  table {
    width: 100%;
  }
  
  td,
  th {
    border: 1px solid #00FA9A; /* Medium spring green */
    padding: 8px;
  }
  